<h1> Tweet Home page </h1>

<%= render 'shared/navbar'%>

<% @tweets.each do |tweet| %>
  <p><%= tweet.body %></p>
  <%= link_to "Like", tweet_likes_path(tweet), method: :post%>



  <% @likes.each do |like| %>
    <% if like.tweet_id == tweet.id %>
      <%= like.tweet_id %>
    <% end %>
  <% end %> 

<% end %>